#box1{
  border: 1px solid black;
  background-color: gray;
  float: none;
}
#box2{
  border: 1px solid black;
  background-color: gray;
  float: none;
}
#box3{
  border: 1px solid black;
  background-color: gray;
  float: none;
}
#box4{
  border: 1px solid black;
  background-color: gray;
  float: none;
}