html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.con-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}
.box1{
  display: flex;
  background-color: blue;
  height: 100%;
  width: 10%;
}
.box2{
  display: flex;
  background-color: green;
  height: 100%;
  width: 10%;
}
.box3{
  display: flex;
  background-color: red;
  height: 100%;
  width: 10%;
}
