.container{
  width: 100%;
  background-color: aqua;
  position: relative;
}
#box1{
  width: 384px;
  height: 288px;
  border: 1px solid black;
  position: absolute;
  top: 41px;
  left: 0;
}
#box2{
  width: 358px; 
  height: 305px;
  border: 1px solid black;
  position: absolute;
  top: 226px;
  left: 203px;
}
#box3{
  width: 876px;
  height: 227px;
  border: 1px solid black;
  position: absolute;
  top: 501px;
  left: 0px;
}
#box4{
  width: 150px;
  height: 890px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 695px;
}
